<div class="col-lg-4">
    <div class="product-item">
        <div>
            <img src="{{ product_images.product_image.url }}">
        </div>
        <h5>{{ product_images.product.product_name }}</h5>
        <div>
            {{ product_images.product.price}} грн
        </div>
        <div class="add-to-card-btn">
            <a href="{% url 'myShop:product' product_images.product.product_id %}">
                <button class="btn btn-success">
                Додати до кошику
            </button>
            </a>
        </div>
    </div>
</div>