<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
    <title>News - Max.Shop</title>
	<a href="official"> To official site</a>
	<meta name="description" content="News , T-shirts - all what you wish">
	<meta name ="keywords" content="Buy , shopping , cloth">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'myShop/css/login.css' %}">
</head>
<body>


<div class="modal fade" id="buy-modal" tabindex="-1" role="dialog" aria-labelledby="buy-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buy-modal-label">Buy Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="buy-form" method="post" action="{% url 'buy' %}">
        <div class="modal-body">
          <!-- form fields here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Buy</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>