{% extends 'base.html' %}
{% load static %}
{% block content %}

     <div class="section section1">
        <div class="container">
            <div class="row">
             <div class="col-lg-12">
                <h1 class="text-center">
                <div class="section-top">
                    <img src="{% static 'images/banner.jpg' %}" class="img-responsive">
                 </div>
                </h1>


                 <h1 class="product_name">
                    <div class="text-center">Products</div>
                </h1>
             <div class="filters-container">
                 <div class="filter-sidebar">
                     <h3><b>Filter By:</b></h3>
                     <form method="get">
                        <ul>
                            {{ form.as_p }}
                        </ul>
                    <button type="submit">Filter</button>
                </form>
                 </div>
             </div>
             <div class="products-container">
                 {% for product_images in context.products %}
                        {% include 'product_item.html' %}
                {% endfor %}
             </div>

            </div>
        </div>
     </div>

</div>
 {% endblock %}