<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
    <title>News - Max.Shop</title>
	<a href="official"> To official site</a>
	<meta name="description" content="News , T-shirts - all what you wish">
	<meta name ="keywords" content="Buy , shopping , cloth">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'myShop/css/style.css' %}">
	<style>
		h1{
			color:#ff0000;
		}
		body{
			border-top-color: #ff0000;
		}
	</style>
</head>
<body>
	<p><h1><em>New cloth</em></h1></p>
    {% if latest_question_list %}
    <ul>
        {% for product in latest_question_list %}
            <li>{{ product.product_name  }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products are available</p>
{% endif %}
	<hr>
		<h1>That`s all</h1>
		<h3><em>Next friday - new clothes</em> </h3>
	</hr>
</body>
</html>